In [5]:
var1 = 20
print(type(var1))
var2 = 123.45
print(type(var2))
var3 = True
print(type(var3))
var4 = "ken"
print(type(var4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [11]:
a = 20
print(id(a))
a = "AA"
print(id(a))

140737344646656
2409405037232

In [12]:
x,y = 1,3
print(x)
print(y)

1
3

In [27]:
x,y = 1,3
print("X=",x)
#print("X=",x,sep="") #移除空白
print("Y=",y)

X= 1
Y= 3

## str()
### str()某些類型轉字串

In [26]:
x,y = 1,3
msg1 = "X="+str(x)
print(msg1)

X=1

In [33]:
msg2 = "Hi " * 3
print(msg2)

Hi Hi Hi

## 輸入
### input("提示詞")
### 輸入後內容預設為字串

In [1]:
a = input("輸入姓名:")
print(a)
print(type(a))

輸入姓名:Ken
Ken
<class 'str'>

In [12]:
c = input("輸入成績:")
print(type(c))
c = int(c)#把字串轉為int 
print(c+ 5)
print(type(c))

輸入成績:85
<class 'str'>
90
<class 'int'>

In [12]:
a,b,c = 4,2,5
d,f = 3,5
print(a * b)
print(a ** b)
print(a % 3)
print(a / 3)
print(a // 3)
print(c - f)

8
16
1
1.3333333333333333
1
0

In [16]:
coin = 2
print(coin)
# coin = coin - 1 
coin += 1
print(coin)
coin += 5
print(coin)

2
3
8

In [20]:
print(3 < 5)
print(6 <= 5)
print(5 < 5)
print(5 <= 5)

True
False
False
True

In [21]:
x1,x2,x3 = 10,20,10
print(x1 == x2)
print(x1 == x3)
print(x1 != x2)

False
True
True

In [24]:
a = 21
if a > 18:
    print("大於18")

大於18

In [29]:
a = 15
if a > 18:
    print("大於18")
else:
    print("不大於18")

不大於18